*.o
/adabind
/adacomp
/adaexec
/adafront
/adagen
/adaint
/adaint.lm
/adalib
/bind.lm
/comp.lm
/front.lm
/gen.lm
/ghdr.h
/gvars.c
/gvars.h
/hdr.h
/int.lm
/ivars.c
/ivars.h
/lib.lm
/libhdr.h
/vars.c
/vars.h
/predefdir
/predef
